*.iml
.DS_Store
.classpath
.idea/
.project
.settings
.vscode/
/src/main/resources/META-INF/resources/articles/*
/target/
drivers/
error-screenshots/
frontend/generated/
node_modules/
pnpmfile.js
vite.generated.ts
webpack.generated.js
